/*************** Footer CSS **************/

footer {
    display: flex;
    flex-direction: row wrap;
    justify-content: space-between;
    align-content: flex-end;
    color: black;
    font-size: .9rem;
    font-family: 'Ubuntu', sans-serif, Arial, Helvetica;
    padding: 1.6rem;
    /* border-top: 0.001rem solid black;  */
    box-shadow: 2px 5px 10px rgb(143, 135, 135);
}

.call, .write, .follow {
    text-align: center;
}

footer .other-links {
    display: flex;
    flex-direction: row wrap;
    justify-content: space-around;
}

footer .other-links div {
    margin: 0 2em;
}

.footer-link {
    text-decoration: none;
    color: black;
}

.footer-link:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 480px) {
    /* For mobile */
    nav ul {
        display: none;
    }


}

@media only screen and (max-width: 800px) {
    /* For Tablets */

}


@media only screen and (max-width: 1024px) {
    /* For small screen Laptops */

}

@media only screen and (min-width: 1025px) {
    /* For Large screen Laptops and Desktops */

}