@import "navbar.css";
@import "footer.css";

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Code for the project part */

section {
    background-color: #e6dace;
    padding: 5rem 20rem;
}

h1 {
    text-align: center;
    font-size: 2rem;
    font-family: 'Koulen', cursive, Arial, Helvetica, sans-serif;
    letter-spacing: 3px;
}

.block {
    display: flex;
    flex-direction: row;
    background-color: white;
    width: 50rem;
    height: 25rem;
    overflow: hidden;
    margin: 8% auto;
    box-shadow: 3px 5px 10px #a2a2a2;
}

h2 {
        font-family: Arial, Helvetica, sans-serif;
    margin-top: 2em;
    border-left: 10px solid #4942E4;
    padding: .5em;
}

h2 a {
    color: #4942E4;
    text-decoration: none;
}

h2 a:hover {
    text-decoration: underline;
}

.block p {
    font-family: 'Pompiere', cursive, Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    font-weight: 500;
    color: #000;
    padding: 1.5em;
}

.block {
    color: #4942E4;
}



.sideBar {
    width: 8px;
    height: 50px;
    background-color: #4942E4;
}

.title {
    margin-top: 2rem;
}

.follow-profile a i {
    /* width: 45px; */
    color: #000;
    font-size: 1rem;
    padding: .5em;
}