@import "navbar.css";
@import "footer.css";

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Code for the project part */

main {
    background-color: #e6dace;
}

h1 {
    text-align: center;
    font-size: 2rem;
    font-family: 'Koulen', cursive, Arial, Helvetica, sans-serif;mily: ;
    letter-spacing: 3px;
}


h2 span {
    color: #000000;
    font-size: .6em;
}

.block {
    display: flex;
    flex-direction: row;
    background-color: white;
    width: 50rem;
    height: 25rem;
    overflow: hidden;
    margin: 8% auto;
    box-shadow:  1em 1em 2em #dababa;
    
}



.block p {
    font-family: 'Koulen', cursive, Arial, Helvetica, sans-serif;
    font-weight: 500    ;
}

.details {
    padding: 5em 0;
}

.projectName{
    display: flex;
    text-align: center;
    color: #4942E4;
}



.sideBar {
    width: 8px;
    height: 50px;
    background-color: #4942E4;
}
.title {
    margin-top: 2rem;
}