@import "navbar.css";
@import "footer.css";

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    min-width: min-content;
    max-height: fit-content;
}


/*************** Section CSS **************/
section {
    position: relative;
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    /* margin: 10%; */
}

section .container {
    position: absolute;
    width: 40%;
    height: 100%;
    background-color: #e6dace;
}

.card {
    z-index: 1;
    display: flex;
    user-select: none;
    justify-content: center;
    align-items: center;
    margin:  12%;
}

.left_item {
    text-align: center;
    background-color: #f4ece6;
    font-size: 1.002vw;
    box-shadow: -.41rem .5rem 2rem rgb(201, 184, 184);
}

.card .left_item img {
    width: 13em;
    border-radius: 15em;
    margin: 3.5em auto 1.5em auto;
}

.card .left_item .name {
    text-align: center;
    text-shadow: 2px 1px 10px rgb(180, 187, 231);
    padding: .5em;
    font-size: 1.9em;
    font-family: 'Koulen', cursive, Arial, Helvetica, sans-serif;
    font-weight: 900;
    letter-spacing: .3em;
}

.card .left_item .hr-line {
    width: 30%;
    border: 0.03em solid rgb(82, 82, 221);
    margin: 1em auto 1em auto;
}

.card .left_item .role {
    text-align: center;
    text-transform: uppercase;
    padding: .5em 0 3em 0;
    font-size: 1em;
    font-family: 'Ubuntu', sans-serif, Arial, Helvetica, sans-serif;
    letter-spacing: .1em;
    font-weight: 600;
}

.left_item .social-media-profile {
    background-color: white;
    padding: 8px 0;
}

.fa-brands {
    padding: 0.5em;
    font-size: 1.3em;
    color: black;
}

.right_item {
    display: inline;
    padding: 2rem;
    font-size: 1.002vw;
    width: 50%;
}

.card .right_item p {
    font-size: 1.9rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}

.card .right_item p::first-line {
    font-size: 2.8em;
    font-weight: bold;
}

.card .right_item .btn-container {
    padding: 3em 0;
}

.card .right_item .btn-container a.resume-btn {
    text-decoration: none;
    background-color: #0040ca;
    color: white;
    padding: 0.7em 2.7em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.88em;
    border-radius: 5em;
    border: none;
    cursor: pointer;
    margin-right: 1em;
}

.card .right_item .btn-container a.project-btn {
    text-decoration: none;
    background-color: white;
    color: black;
    padding: 0.6em 2.7em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.88em;
    border: 0.09em solid black;
    border-radius: 5em;
    cursor: pointer;
}

.card .right_item .btn-container a.resume-btn:hover {
    background-color: white;
    color: black;
    border: 0.1em solid #0040ca;
    transition: 0.5s;
}

.card .right_item .btn-container a.project-btn:hover {
    background-color: #0040ca;
    color: white;
    border: 0.1em solid #0040ca;
    transition: 0.5s;
}

.card .right_item .bio {
    font-family: 'Pompiere', cursive, Arial, Helvetica, sans-serif;
    font-size: 2em;
    line-height: 1.5em;
}