* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
}

/* Designing of the Navigation-bar */

.navbar {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 2;
    width: 100%;
}

.navbar ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* align-items: stretch; */
    list-style-type: none;
    /* width: 100%; */
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
}

.navbar ul li a {
    position: relative;
    display: block;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 1.5rem 1.8rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* font-size: 1rem; */
}

.navbar ul li a::before {
    content: '';
    position: absolute;
    bottom: 0.8em;
    left: 0;
    width: 100%;
    height: 0.1rem;
    background: linear-gradient(to right, #8e2de2, #4a00e0);
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.4s;
}

.navbar ul li a:hover:not(.logo a):before {
    transform: scaleX(1);
    transform-origin: left;
}

.navbar ul li.logo a:hover {
    text-decoration: none !important;
}

.logo a {
    order: 0;
    flex-grow: 4;
    margin-left: 1em;
    text-align: left !important;
}

.logo {
    order: 0;
    flex-grow: 4;
}

.item {
    order: 1;
}

.logo a {
    font-family: 'Koulen', cursive, Arial, Helvetica, sans-serif !important;
    font-size: 1.7em !important;
    text-shadow: 3px 4px 5px rgb(187, 182, 254) !important;
    letter-spacing: 0.3em !important;
    padding: 0.2em !important;
}




/* Designing the Section part */

.section {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    position: relative;
}

.block {
    background-color: #e6dace;
    width: 40em;
    height: 100em;
    position: absolute;
}

/* Designing of the profile card*/

.card {
    z-index: 1;
    display: flex;
    flex-direction: row;
    margin-top: 13%;
    margin-left: 20%;
    margin-bottom: 13%;
    width: 53rem;
}

.item2 {
    display: flex;
    flex-flow: column wrap;
    width: 25rem;
    text-align: center;
    overflow: hidden;
    color: black;
    box-shadow: -1rem 1rem 2.2rem rgb(201, 184, 184);
    user-select: none;
}

.item2 .container-1 {
    background-color: #f4ece6;
}

.item2 .container-1 .profile-pic {
    width: 13rem;
    border-radius: 50%;
    margin-top: 3.5rem;
    margin-left: auto;
    margin-right: auto;
}

.item2 h3 {
    text-align: center;
    text-shadow: 2px 1px 10px rgb(180, 187, 231);
    margin-top: 1.9rem;
    font-size: 1.9em;
    font-family: 'Koulen', cursive, Arial, Helvetica, sans-serif;
    font-weight: 900;
    letter-spacing: 0.3rem;
}

.line {
    width: 30%;
    border: 0.03rem solid rgb(82, 82, 221);
    margin: 1rem auto 1rem auto;
}

.item2 h5 {
    text-align: center;
    text-transform: uppercase;
    padding: 0.5rem 0 3rem 0;
    font-size: 1rem;
    font-family: 'Ubuntu', sans-serif, Arial, Helvetica, sans-serif;
    letter-spacing: 0.1rem;
}

.item2 .container-2 {
    display: flex;
    flex-flow: row wrap;
    background-color: white;
    justify-content: center;
    height: 3.2rem;
    padding-top: 0.3rem;
}

.fa-brands {
    padding: 0.5em;
    font-size: 1.3em;
    color: black;
}

.item3 {
    /* background-color: rgb(255, 255, 255); */
    margin-left: 2rem;
    user-select: none;
}

.container-3 {
    height: 10rem;
    max-width: 30rem;
    padding: 1rem;
}

.item3 .container-3 .title h1 {
    font-size: 6rem;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 1rem;
}

.item3 .container-3 .title h2 {
    font-size: 1.9rem;
    font-family: Arial, Helvetica, sans-serif;
}

.item3 .container-3 .btn-container {
    padding-top: 3rem;
}

.item3 .container-3 .btn-container a.btn-1 {
    text-decoration: none;
    background-color: #0040ca;
    color: white;
    padding: 0.7rem 2.7rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.88rem;
    border-radius: 5rem;
    border: none;
    cursor: pointer;
    margin-right: 1rem;
}

.item3 .container-3 .btn-container a.btn-2 {
    text-decoration: none;
    background-color: white;
    color: black;
    padding: 0.6rem 2.7rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.88rem;
    border: 0.09rem solid black;
    border-radius: 5rem;
    cursor: pointer;
}

.item3 .container-3 .btn-container a.btn-1:hover {
    background-color: white;
    color: black;
    border: 0.1rem solid #0040ca;
    transition: 0.5s;
}

.item3 .container-3 .btn-container a.btn-2:hover {
    background-color: #0040ca;
    color: white;
    border: 0.1rem solid #0040ca;
    transition: 0.5s;
}


.item3 .container-3 .para {
    font-family: 'Pompiere', cursive;
    padding-top: 3rem;
    font-size: 2rem;
    line-height: 2.5rem;
}












/* Designing for the footer */


.footer {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-content: flex-end;
    background-color: rgb(255, 255, 255);
    color: black;
    font-size: 0.9rem;
    font-family: 'Ubuntu', sans-serif, Arial, Helvetica;
    height: 3rem;
    padding: 1.6rem;
    border-top: 0.001rem solid black;
}

.fo-item {
    font-weight: 900;
    flex-grow: 0.6;
}

.fo-item-para a {
    text-decoration: none;
    color: black;
}

.fo-item-para a:hover {
    text-decoration: underline;
}


.fo-item-1 h3 {
    text-align: center;
}

.fo-item-para {
    text-align: center;
}


@media only screen and (max-width: 480px) {
    /* For mobile */

    /* Designing of the Navigation-bar */

    .navbar ul {
        flex-direction: column;
        width: 100%;
    }

    .logo a {
        text-align: center !important;
    }


    .logo a {
        font-family: 'Koulen', cursive, Arial, Helvetica, sans-serif !important;
        font-size: 2.5rem !important;
        text-shadow: 3px 4px 5px rgb(187, 182, 254) !important;
        letter-spacing: 0.3em !important;
        padding: 0.5rem !important;
    }

}

@media only screen and (max-width: 800px) {
    /* For Tablets */

    /* Designing of the Navigation-bar */

    .navbar ul {
        flex-direction: column;
        width: 100%;
    }

    .logo a {
        text-align: center !important;
    }


    .logo a {
        font-family: 'Koulen', cursive, Arial, Helvetica, sans-serif !important;
        font-size: 2.5rem !important;
        text-shadow: 3px 4px 5px rgb(187, 182, 254) !important;
        letter-spacing: 0.3em !important;
        padding: 0.5rem !important;
    }

    .card {
        z-index: 1;
        display: flex;
        flex-direction: column;
        margin-top: 25%;
        margin-left: 25%;
        margin-bottom: 25%;
        width: 25rem;
    }
    .block {
        width: 50%;
    }

    .title, .para {
        display: none;
    }
    .item3 {
        margin-left: 0.1rem;
    }
}


@media only screen and (max-width: 1024px) {
    /* For small screen Laptops */

}

@media only screen and (min-width: 1025px) {
    /* For Large screen Laptops and Desktops */

}