body {
    margin: 0;
    padding: 10rem;
}


* {
    box-sizing: border-box;
}

.container {
    text-align: justify;
    position: relative;
    padding: 2rem;
    background-color: red;
    background-image: linear-gradient(to bottom right,red,blue);
    margin: auto;
    width: 1000px;
    background-color: white;
    border-radius: 1rem;
    box-shadow: -0.1rem -0.1rem 3rem black;
}

header {
    text-align: center;
    font-size: 3rem;
    font-family: audiowide;
}

.block {
    display: inline-block;
}

input {
    width: 100%;
}

/*
header {
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
}

.form-container {
    margin: auto;
    width: 500px;
}

form {
    position: relative;
    margin-top: 5rem;
    font-family: audiowide;
}
.block {
    background-color: white;
    padding: 1rem;
    border-radius: 0.3rem;
}

input{
    width: 100%;
    border:none;
    border-bottom: 1rem blue;
}
*/
textarea {
    width: 100%;
    height: 7rem;
    padding: 0.2rem 0.8rem;
    font-size: 1vw;
    resize: none;
    border-radius: 0.3rem;
} 


